@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Generic Styles */

/* Override Browser default styles to push border to the corners */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'abel', sans-serif;
    color: black; 
}

h1, h2, h3, h4 {
    font-family: 'raleway', sans-serif;
}


header {
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px rgba(178,188,177,255);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 250px; /* Header size to fit the logo */
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Logo inside header */
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100%; /* Ensure it takes the full height of the header */
}

#logo-circle {
    background: url('../images/T&TServices.jpg') no-repeat top center / cover;
    height: 200px; /* Increase height to fit within the larger header if changed */
    width: 200px; /* Increase width to fit within the larger header if changed*/
    border-radius: 50%;
}

/* Nav Section */

#navmenu {
    font-size: 95%;
    letter-spacing: 4px;
    list-style-type: none;
    width: fit-content;
}

#navmenu > li {
    margin-bottom: 1em;
    color: white;
    text-transform: uppercase;
}

.active {
    border-bottom: 3px solid rgba(178,188,177,255);
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    box-shadow: 0 0 8px 0 rgba(178,188,177,255);
    border-bottom: 2px solid rgba(178,188,177,255);
    padding-top: 8px;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
    /* Position the toggle icon bottom right of the header*/
    position: absolute;
    bottom: 10px; 
    right: 10px; 
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 260px; /* Adjust this margin to match respectivily to the header height (~+30px) */
    display: flex;
    flex-direction: column;
}

#about-section {
    width: 90%;
    margin: 20px auto;
    background: url("../images/MechanicWork.webp") no-repeat center/cover;
}

#about-section h4 {
    border-bottom: 1px solid rgba(178,188,177,255);
    color: rgba(178,188,177,255);
}

#about-section p {
    color: whitesmoke;
    margin-left: 5px;
}

#about {
        /* Final rgba value sets the opacity so it is semi-transparent */
        background-color: rgba(0,0,0, 0.7);
        font-size: 100%;
        margin: 10px 10px 10px 10px;
        padding-bottom: 1%;
        padding-top: 1%;
}

#about div h4 {
    letter-spacing: 1px;
    margin-left: 5px;
}

#about div {
    line-height: 20px;
    margin-bottom: 25px;
    margin-right: 5px;
}

/* Footer */
#footer {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: black;
    border-top: 4px solid rgba(178,188,177,255);
    justify-content: space-between;
}

#footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em; 
}

#footer li {
    color: white;
}

footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(178,188,177,255);
}

footer a i {
    margin-right: 8px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    #logo {
        justify-content: center;
        background-color: black;
        margin: 0 auto;
    }

    /* Nav Styles */
    #navmenu {
        font-size: 95%;
        letter-spacing: 4px;
        list-style-type: none;
        width: fit-content;
    }
    
    #navmenu > li {
        margin-bottom: 1em;
        display: inline;
        font-size: 15px;
        width: fit-content;
    }
    
    .active {
        border-bottom: 3px solid rgba(178,188,177,255);
    }
    
    nav {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 0 1rem;
        box-shadow: 0 2px 2px #3a3a3a;
        top: 90%;
        color: white;
        display: block;
    }

    #navmenu li:hover {
        color: rgba(178,188,177,255);
        font-size: 20px;
        font-weight: 600;
    }
    
    /* Nav toggle */
    .nav-toggle-label {
        font-size: 2rem;
        display: none;
    }

    /* Footer */
    #footer {
        justify-content: space-between;
    }

    #footer div {
        margin: 0 20px;
    }
    
    footer a {
        display: inline;
        text-decoration: none;
        color: rgba(178,188,177,255);
    }
}
